:root {
    --space-sm: 2px;
    --space-md: 5px;
    --space-lg: 20px;
    --space-xl: 150px;
    --space-xxl: 750px;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#project_name{
    font-weight: bold;
}

.developer_name{
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    letter-spacing: var(--space-sm);
}

body{
    background-color: aquamarine;
    font-family: Arial, sans-serif;

}

@media (min-width: var(--space-xxl)) {
    .project_article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

.project_article{
    border: var(--space-sm) solid black;
    box-sizing: border-box;
    margin-bottom: var(--space-lg);
    padding: var(--space-md);
}

img{
    width: 100%;
    max-width: var(--space-xl);
}

.ul_projects{
    display: flex;
    justify-content: left;
    gap: var(--space-xl);
    padding-left: var(--space-lg);
}

.hidden{
    display: none;
}
